.shop-category{
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.shopcategory-indexSort {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-indexSort p {
    font-weight: 550;
}


.shopcategory-products {
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;;
}
.shopcategory-sort{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    border-radius:40px;
    border: 1px solid #888; 
    cursor: pointer;
}

.shop-category img {
    display: block;
    width: 100vw;
    height: 300px; 
    object-fit: contain; 
    object-position: top; 

}   

.shopcategory-sort img {
    width: 20px; 
    height: auto;
}

@media (max-width: 1280px) {
    .shopcategory-indexSort{
        width: 90%;
        margin: auto;
    }
    .shopcategory-sort{
        padding: 5px 10px;
        font-size: 12px;
    }
    .shopcategory-indexSort p{
        font-size: 12px;
    }
    .shopcategory-products {
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }
    .shopcategory-products .item{
        margin: auto;
    }
}

@media (max-width: 800px){
    .shopcategory-products{
        width: 95%;
    }
}

@media (max-width: 500px) {
    .shopcategory-products{
        grid-template-columns: 1fr 1fr;;
    }
}