.hero {
    height: 100vh;
    background: linear-gradient(to top, #fde1ff, #d3a868);
    display: flex;
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}

.hero-left h2{
    color: #090909;
    font-size: 26px;
    font-weight: 600;;
}

.hero-left p{
    color: #171717;
    font-size: 100px;
    font-weight: 700px;
    margin-top: -10px;
}

.hello-icon{
    display: flex;
    align-items: center;
    gap: 20px;
}

.hello-icon img{
    width: 100px;
}

.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 400px;
    height: 35px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}

.hero-latest-btn img{
    width: 50px;
    height: 50px;
    margin-left: 30px;
    background: linear-gradient(to bottom, transparent, #ff4141); 
    mix-blend-mode: multiply;
}

.hero-right{
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-right::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20%; 
    background: linear-gradient(to bottom, transparent, white); 
    pointer-events: none;
}

.hero-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}